In [65]:
import kagglehub
import os
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("shariful07/student-mental-health")
csv_file=os.path.join(path,'Student Mental health.csv')
df=pd.read_csv(csv_file)
print("Location :",os.listdir(path))
# print("Path to dataset files:", path)

Location : ['Student Mental health.csv']

In [66]:
df.head(5)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [67]:
# df['Choose your gender'].unique()
value_count = df['What is your course?'].value_counts()

def simplify_course(course):
    count = value_count.get(course, 0)
    if count == 18:
        return "BCS"
    elif count == 17:
        return "Engineering"
    elif count == 10:
        return "BIT"
    else:
        return "Others"

df['What is your course?'] = df['What is your course?'].apply(simplify_course)

In [68]:
df['What is your course?'].value_counts()

What is your course?
Others         56
BCS            18
Engineering    17
BIT            10
Name: count, dtype: int64

In [69]:
df['Your current year of Study'] = df['Your current year of Study'].astype(str).str.strip().str.lower()

In [99]:
df['Your current year of Study'].value_counts()
df.isnull().sum()

Timestamp                                       0
Choose your gender                              0
Age                                             0
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

In [71]:
df['What is your CGPA?'] = df['What is your CGPA?'].str.strip()

df['What is your CGPA?'] = df['What is your CGPA?'].apply(
    lambda x: '3.50 - 4.00' if x == '3.50 - 4.00' else x
)

# def simply(CGPA):
#   count = value_count.get(CGPA, 0)
#   if '3.50 - 4.00' or '3.50 - 4.00'

In [72]:
df['What is your CGPA?'].value_counts()

What is your CGPA?
3.50 - 4.00    48
3.00 - 3.49    43
2.50 - 2.99     4
0 - 1.99        4
2.00 - 2.49     2
Name: count, dtype: int64

In [73]:
df['Marital status'].value_counts()

Marital status
No     85
Yes    16
Name: count, dtype: int64

In [87]:
# df['Marital status'] = df['Marital status'].apply(lambda x: 0 if x == 'No' else(1 if x == "Yes" else x))
# df['Do you have Depression?'] = df['Do you have Depression?'].apply(lambda x: 0 if x == 'No' else(1 if x == "Yes" else x))
# df['Do you have Anxiety?'] = df['Do you have Anxiety?'].apply(lambda x: 0 if x == 'No' else(1 if x == "Yes" else x))
# # df['Do you have Anxiety?'] = df['Do you have Anxiety?'].apply(lambda x: 0 if x == 'NO' else(1 if x == "Yes" else x))
# df['Do you have Panic attack?'] = df['Do you have Panic attack?'].apply(lambda x: 0 if x == 'No' else(1 if x == "Yes" else x))
df['Choose your gender'] = df['Choose your gender'].apply(lambda x: 0 if x == 'Female' else(1 if x == "Male" else x))
df['Did you seek any specialist for a treatment?'] = df['Did you seek any specialist for a treatment?'].apply(lambda x: 0 if x == 'No' else(1 if x == "Yes" else x))

In [84]:
df['Did you seek any specialist for a treatment?'].unique()
# from sklearn.preprocessing import

array([0, 1])

In [100]:
# df['Age']=df['Age'].fillna(21)
# df['Age'].unique()

array([18., 21., 19., 22., 23., 20., 24.])

In [101]:
df.sample(6)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
70,8/7/2020 20:36,0,24.0,Others,year 1,3.00 - 3.49,0,0,0,0,0
42,8/7/2020 14:58,0,20.0,Others,year 2,3.00 - 3.49,0,1,0,0,0
28,8/7/2020 13:58,0,24.0,BIT,year 3,3.50 - 4.00,1,1,1,1,1
31,8/7/2020 14:29,1,18.0,BCS,year 2,3.00 - 3.49,0,0,0,0,0
12,8/7/2020 12:40,0,18.0,BCS,year 1,3.00 - 3.49,0,1,0,0,0
8,8/7/2020 12:35,0,19.0,Others,year 2,2.50 - 2.99,0,0,0,0,0

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    int64
 2   Age                                           101 non-null    float64
 3   What is your course?                          101 non-null    int64
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    int64
 6   Marital status                                101 non-null    int64
 7   Do you have Depression?                       101 non-null    int64
 8   Do you have Anxiety?                          101 non-null    int64
 9   Do you have Panic attack?                     101 non-null    int64
 10  Did you seek any specialist for a treatment?  101 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 8.8+ KB

In [103]:
df['What is your CGPA?'].value_counts()

What is your CGPA?
3.50 - 4.00    48
3.00 - 3.49    43
2.50 - 2.99     4
0 - 1.99        4
2.00 - 2.49     2
Name: count, dtype: int64

In [117]:
# cgpa_map = {
#     '3.50 - 4.00': 4,
#     '3.00 - 3.49': 3,
#     '2.50 - 2.99': 2,
#     '2.00 - 2.49': 1,
#     '0 - 1.99': 0
# }

# df['What is your CGPA?'] = df['What is your CGPA?'].map(cgpa_map)

# df=df.drop(['CGPA_numeric'],axis=1)

course={
    'Others':3,
    'BCS':2,
    'Engineering':1,
    'BIT':0

}

df['What is your course?'] = df['What is your course?'].map(course)

year={


      'year 1':3,
      'year 2':2,
      'year 3':1,
      'year 4':0

}
df['Your current year of Study']=df['Your current year of Study'].map(year)

In [118]:
df['Your current year of Study'].value_counts()

Your current year of Study
3    43
2    26
1    24
0     8
Name: count, dtype: int64

In [122]:
# df=df.drop('Timestamp',axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Choose your gender                            101 non-null    int64
 1   Age                                           101 non-null    float64
 2   What is your course?                          0 non-null      float64
 3   Your current year of Study                    101 non-null    int64
 4   What is your CGPA?                            101 non-null    int64
 5   Marital status                                101 non-null    int64
 6   Do you have Depression?                       101 non-null    int64
 7   Do you have Anxiety?                          101 non-null    int64
 8   Do you have Panic attack?                     101 non-null    int64
 9   Did you seek any specialist for a treatment?  101 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 8.0 KB

In [126]:
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
x,y=df.drop('Did you seek any specialist for a treatment?',axis=1),df['Did you seek any specialist for a treatment?']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
lg=DecisionTreeClassifier()
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
acc=(accuracy_score(y_test,y_pred))
acc

0.8709677419354839

In [127]:
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix,accuracy_score
x,y=df.drop('Did you seek any specialist for a treatment?',axis=1),df['Did you seek any specialist for a treatment?']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
lg=DecisionTreeClassifier(criterion='entropy')
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
acc=(accuracy_score(y_test,y_pred))
acc

0.9032258064516129

In [130]:
import pickle
with open('model1.pkl','wb') as f:
  pickle.dump(lg,f)

In [131]:
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix,accuracy_score
x,y=df.drop('Did you seek any specialist for a treatment?',axis=1),df['Did you seek any specialist for a treatment?']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
lg=RandomForestClassifier()
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
acc=(accuracy_score(y_test,y_pred))
acc

0.9354838709677419